.fit-display{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.fit-dis-1{
    width: 65%;
}
.fit-dis-2{
    width: 27%;
}
.underline{
    background-color: red;
    width: 5rem;
    height: 3px;
    margin: 2px 3%;
}
.fit-heading{
    margin: 0px 3%;
}
.fit-card-dis{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
.fit-card-1{
    width: 40%;
    margin: 1%;
}
.fit-card-2{
    width: 52%;
    margin: 1%;
}
.advertisement{
    border: 3px solid grey;
    width: 90%;
    margin: 2%;
    height: 300px;
}

@media only screen and (max-width:700px){
    .fit-display{
        display: block;
        
      
    }
    .fit-dis-1{
        width: 95%;
    }
    .fit-dis-2{
        width: 95%;
    }
}